<div class="container">

  <form [formGroup]="form" class="mt-4" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" id="name">
    </div>

    <div class="form-group">
      <label for="sector">Select sectors</label>

      <select class="form-control" id="sector" size="10" formControlName="sectors" [multiple]="true">
        <option *ngFor="let sector of sectorsList" [value]="sector">
          <ng-template ngFor [ngForOf]="[].constructor(sector.indentinationCount*3)">&nbsp;</ng-template>{{sector.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="termsconditions">Accept terms and conditions</label>
      <input type="checkbox" class="form-control" formControlName="termsConditions" id="termsconditions">
    </div>

    <button type="submit" class="btn btn-secondary float-right" [disabled]="!form.valid" *ngIf="!editMode">Save</button>
    <button type="submit" class="btn btn-secondary float-right" [disabled]="!form.valid" *ngIf="editMode">Update</button>
  </form>

</div>
