<!--The content below is only a placeholder and can be replaced.-->
<app-loading-spinner></app-loading-spinner>
<toaster-container></toaster-container>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Test Assignment</a>
</nav>

<div class="m-4">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer light mt-5">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    Sergei Pojev
  </div>
</footer>
