<!-- Examples http://tobiasahlin.com/spinkit/ -->

<div class="overlay" *ngIf="active">
  <div class="container">
    <div class="row">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>
  </div>
</div>
